.button{
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #cacc90;
    color: #75704e;
    padding: 0 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img{
        margin-right: 8px;
    }

    &.outlined{
        background: #75704e;
        border: 1px solid #cacc90;
        color: #cacc90;
    }

    &:not(:disabled):hover{
        filter: brightness(0.9);
    }

    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }
}